body {
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
