.button {
  font-size: 2rem;
  outline: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #cccccc;
}

.back {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 10%;
}